<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>jotDown</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <h1>jotDown</h1>
    <div>
      <button type="button" id="newBtn">New</button>
      <button type="button" id="deleteBtn">Delete</button>
      <div id="notesList"></div>
    </div>
    <textarea
      name="noteEditor"
      id="noteEditor"
      cols="30"
      rows="10"
      placeholder="New Note"
      autofocus
    ></textarea>
  </body>
  <script src="/javascripts/main.js"></script>
</html>
