<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>jotDown</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <div id="background__container">
      <div class="background__trapezoid">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <main id="content__container">
        <div id="intro__container">
          <h1>jotDown</h1>
          <p>Your ideas deserve to be jot down</p>
        </div>
        <div id="new__container">
          <button type="button" id="newBtn">Create New Note</button>
        </div>
        <div id="notesList"></div>
        <div id="editor__container">
          <textarea
            name="noteEditor"
            id="noteEditor"
            cols="30"
            rows="12"
            placeholder="New Note"
            autofocus
          ></textarea>
          <button type="button" id="deleteBtn">Delete Note</button>
        </div>
      </main>
    </div>
    <footer id="footer__container">
      <p>2019 Scott Pierce-Wrobel</p>
    </footer>
  </body>
  <script src="/javascripts/main.js"></script>
</html>
