* {
  box-sizing: border-box;
}
body {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
#background__container {
  position: relative;
  height: 680px;
  overflow: hidden;
}
.background__trapezoid {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  transform: skewY(-12deg);
  transform-origin: top left;
  border-bottom-right-radius: 70% 14%;
}
.background__trapezoid span {
  height: 150px;
  position: absolute;
  background: blue;
}
.background__trapezoid :first-child {
  width: 33.33333%;
  left: -16.66666%;
  background: #53f;
}
.background__trapezoid :nth-child(2) {
  width: 33.33333%;
  top: 0;
  left: 16.66666%;
  right: auto;
  background: #4553ff;
}
.background__trapezoid :nth-child(3) {
  width: 48%;
  left: 49.99999%;
  bottom: auto;
  background: #4f40ff;
  border-bottom-right-radius: 100% 18%;
}
.background__trapezoid :nth-child(4) {
  width: 33.33333%;
  top: 380px;
  right: -16.66666%;
  background: #25ddf5;
  border-bottom-right-radius: 90%;
}
.background__trapezoid :nth-child(5) {
  width: 33.33333%;
  bottom: 0;
  background: #1fa2ff;
}
#intro__container h1 {
  position: relative;
  font-size: 2.5em;
  color: #fff;
  margin: 5px;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}
#intro__container p {
  max-width: 500px;
  margin-top: 5px;
  color: #d9fcff;
  text-align: center;
  text-transform: capitalize;
  font-size: 0.9em;
}
#content__container {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 1em;
}
#intro__container {
  grid-column: 1 / 2;
  grid-row: 1;
}
#new__container {
  grid-column: 2 / 3;
  grid-row: 1;
  align-self: end;
}
#notesList {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#editor__container {
  grid-column: 2 / 3;
  grid-row: 2;
}
.note {
  height: 3em;
  background-color: #fff;
  margin: 0 2px 2px;
  padding: 6px;
  opacity: 0.7;
  overflow: hidden;
}
.note:focus {
  box-shadow: inset 0 1px 5px rgb(50, 50, 93), 0 3px 3px rgb(0, 0, 0);
}
#editor__container {
  vertical-align: top;
}
#noteEditor {
  display: block;
  width: 100%;
  background-color: #fff;
  letter-spacing: 0.03em;
  font-size: 1em;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 1em;
  background-image: -webkit-linear-gradient(
    white,
    white 30px,
    #ccc 30px,
    #ccc 31px,
    white 31px
  );
  background-image: -moz-linear-gradient(
    white,
    white 30px,
    #ccc 30px,
    #ccc 31px,
    white 31px
  );
  background-image: -ms-linear-gradient(
    white,
    white 30px,
    #ccc 30px,
    #ccc 31px,
    white 31px
  );
  background-image: -o-linear-gradient(
    white,
    white 30px,
    #ccc 30px,
    #ccc 31px,
    white 31px
  );
  background-image: linear-gradient(
    white,
    white 30px,
    #ccc 30px,
    #ccc 31px,
    white 31px
  );
  background-size: 100% 31px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 31px;
  padding: 8px;
}
button {
  display: block;
  background-color: #fff;
  letter-spacing: 0.03em;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  line-height: 1.9em;
  font-size: 1.2em;
  border: none;
  transition: all 0.15s ease;
  color: #3966bf;
  border-radius: 2px;
}
#new__container button,
#editor__container button {
  width: 10em;
  text-align: center;
  float: right;
}
#notesList button {
  width: 100%;
  text-align: left;
  padding-left: 8px;
}
button:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
button:focus {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
#new__container button:hover,
#editor__container button:hover {
  transform: translateY(-2px);
}
#new__container button:focus,
#editor__container button:focus {
  transform: translateY(-2px);
}
#footer__container {
  position: absolute;
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #32325d;
}
